In [4]:
import pandas as pd
df=pd.read_csv("C:\python code\pandas\movies.csv" )
df

<>:2: SyntaxWarning: invalid escape sequence '\p'
<>:2: SyntaxWarning: invalid escape sequence '\p'
C:\Users\shish\AppData\Local\Temp\ipykernel_3896\4276520961.py:2: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_csv("C:\python code\pandas\movies.csv" )

,Film,Genre,Lead Studio,rating,Profitability,Rotten Tomatoes %,collection,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008
...,...,...,...,...,...,...,...,...
72,Across the Universe,romance,Independent,84,0.652603,54,$29.37,2007
73,A Serious Man,Drama,Universal,64,4.382857,89,$30.68,2009
74,A Dangerous Method,Drama,Independent,89,0.448645,79,$8.97,2011
75,27 Dresses,Comedy,Fox,71,5.343622,40,$160.31,2008
76,(500) Days of Summer,comedy,Fox,81,8.096000,87,$60.72,2009

In [7]:
df=pd.read_csv(r"C:\python code\pandas\movies.csv", header=1, nrows=5 )
df

TypeError: read_csv() got an unexpected keyword argument 'ncolumns'